@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: #B33636,
  $secondary: #710303,
  $surface: #fff,
  $background: #411315,
  $error: color-palette.$red-900
);

html,
body {
  background-color: color.mix(#831F20, theme.$background, 50%);
  color: theme.$on-surface;
}

a {
  color: #C04343;
}
a:visited {
  color: color.scale(#C04343, $lightness: -35%);
}
